{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
<!-- 
<h1>This is home page</h1>

<form action="" method="post" autocomplete="off">
    {% csrf_token %}

    <input type="text" name="task">
    <input type="submit" value="add">
</form>

<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>
 -->

 <table class="table table-bordered table-dark table-hover" style="width: 50%; margin: auto; margin-top: 70px;">
    <tr>
      <th>Title</th>
      <th>Due Date</th>
      <th>Time</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
  </table>

<!--   <form method="post" style="width: 60%; margin: auto;">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Task Name:</label>
      <input type="text" id="title" name="title" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="date">Task Date:</label>
      <input type="date" id="date" name="date" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="time">Task Time:</label>
      <input type="time" id="time" name="time" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
 -->

 <form method="POST" style="width: 50%; margin-top: 70px; margin: auto;">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label}}
        {{ field }}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

{% endblock %}